button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: monospace;
  margin: 0 auto;
  background: #000;
  color: #fff;
  font-size: 18px;
  background-image: url('public/bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-repeat: repeat; */
  background-size: cover;
  padding: 0;
  margin: 0;
}

#__next {
  max-width: 100%;
}

.container {
  padding: 30px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex-grow: 1;
}

.pt {
  padding-top: 20px;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p.fsmall {
  font-size: 14px;
}

a {
  color: rgb(153, 204, 255);
}

.epic {
  color: #7ee758;
}

.rare {
  color: #f5d36c;
}

.common {
  color: #ef8686;
}

.error {
  color: #f00;
}

.success {
  color: #0f0;
}

input,
button {
  font-size: 16px;
  font-family: monospace;
  height: 30px;
  background: #fff;
}

input {
  padding: 10px;
  display: block;
  width: calc(100% - 30px);
  max-width: 500px;
  margin-bottom: 20px;
}
input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(24, 194, 30);
}


footer {
  font-style: italic;
  font-size: 14px;
  color: #f5d36c;
}